.home-container {
  color: white;
  padding: 40px 120px;
}

.home-container h1 {
  font-size: 3em;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}

.home-container p {
  font-size: 1.6em;
  padding-bottom: 90px;
  padding-right: 60px;
}

.home-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.about-container {
  padding-top: 60px;
}

.image-container {
  display: flex;
  flex-direction: column;
}
